

  <div style="text-align:center">

    <h1 style="color:rebeccapurple; font-family:'Lucida Handwriting'">GNB</h1>
    <p>
      Greek Northern Ballet Company was <strong>founded in May 2013 and has non-profit status.</strong>
      The objective is the development and evolution of classical dance, both in Thessaloniki and the rest of Greece.
      Creating ballet productions and making partnerships with leading soloists, will give opportunities to younger dancers to gain professional experience and get stronger mentally making their dream a reality.
      Increasing the interest of young graduates from vocational schools and talented children, creating new jobs, will give a special meaning in our city.
    </p>
    <p>
      The founder of the School <strong>Athanasios Routianidis</strong> a graduate of the <strong>Bolshoi Ballet Academy Pedagogic Institute</strong> in the specialty of pedagogue-ballet master ,
      traveling around the world has experienced several cultures trying to develop their own history in the classical dance, gave opportunities to young dancers to keep them active in their country.
      This just envisions the founder and choreographer of the School, to keep alive the classical dance in the city of Thessaloniki. With great patience and perseverance he believes that the beautiful city of Thessaloniki, Proud jewel of Thermaikos bay,
      will be able to create in a few years its own prestige classical theater bringing successful classical & modern productions.
      This success will enable Greek and European dancers-student’s to exploit in our country and tour abroad.
    </p>
    <h2 style="color:rebeccapurple; font-family:'Lucida Handwriting'">Our Team</h2>
  </div>

<div>
  <div class="card-deck">
    <div class="card" style="border-color:mediumpurple">
      <a class="nav-link" asp-controller="Home" asp-action="AthanasiosRoutianidis"><img class="card-img-top" src="~/images/teacher1.jpg"></a>
      <div class="card-body">
        <h5 class="card-title">Athanasios Routianidis</h5>

      </div>
    </div>
    <div class="card" style="border-color:mediumpurple">
      <a class="nav-link" asp-controller="Home" asp-action="ChrysaRoutianidou"><img class="card-img-top" src="~/images/teacher2.jpg"></a>
      <div class="card-body">
        <h5 class="card-title">Chrysa Routianidou</h5>

      </div>
    </div>
    <div class="card" style="border-color:mediumpurple">
      <a class="nav-link" asp-controller="Home" asp-action="KellyXristidou"><img class="card-img-top" src="~/images/teacher3.jpg"></a>
      <div class="card-body">
        <h5 class="card-title">Kelly Xristidou</h5>
      </div>
    </div>
  </div>
</div>
