<br />
<div style="text-align:center">

  <h2  style="color:rebeccapurple; font-family:'Lucida Handwriting'">Athanasios Routianidis</h2>

  <p>
    Athanasios Routianidis is of Greek origin born in former Soviet Union’s Republic of Kazakhstan. He started ballet at the age of five in Almaty (formerly Alma-Ata). The same year when the borders opened in 1990, one year before the collapse of the Soviet Union, he and his family moved to Greece, where he continued ballet lessons at various private schools of Thessaloniki.
    Upon graduating from lyceum in 2003 he applied to the State School of Dance – KSOT, Athens, with success. However, as his family was living in Thessaloniki, he decided instead to continue his studies at the Municipal Ballet School of Thessaloniki. <strong>In the period 2004-2005 he studied there classical ballet, repertoire, modern and contemporary dance. In 2005, he was selected to represent Greece in the Moscow International Ballet Competition.</strong>
    He performed Internationally on the stage of the Bolshoi Theater.
  </p>
  <p>
    Being reviewed by teachers of the Bolshoi Ballet Academy at a short preparation with soloist Evgeni Kern, he was invited to enroll in the academy. <strong>For this purpose, Routianidis received a scholarship from the Alexander S. Onassis Public Benefit Foundation.</strong>
    Thus, he improved his skills in the class of Ilia Leonidovich Kuznitsov, in the academy he studied repertoire, pas de deux, folk dance , acting skills and historical dances. Upon graduating from the Bolshoi Ballet Academy, his teacher’s persuaded him to pursue full time advanced studies at the Bolshoi Ballet Academy Pedagogic Institute under top Ballet Masters that are known for their remarkable pedagogic results, such as A.G. Boguslavskaya, G. Burlaka(artistic director of Bolshoi theater), E.G. Farmanians, L.A. Kolechenko, G.K. Kuznetsova, V.S. Tedeev, N.M. Tolstaya, and I.A. Voronina.

    Parallel to his advanced study at the Bolshoi Institute, Routianidis also worked as dancer in several classical ballet companies and performed with them in the city of Moscow – the State Theater of Vyacheslav Gordeev and the Russian National Ballet of Ivan Anuchin.
    When the time came to concentrate on his diploma work during his last year of studies, he took courses in the class of V.S. Tedeev at the Stanislavsky & Nemirovich-Danchenko Moscow Music Theatre. Routianidis participated in prestigious international competitions, such as the Hellas IBC (2004, 2007) where he received the bronze medal in ballet repertoire and the silver medal in contemporary dance in 2004 and the silver medal in classical ballet in 2007, Arabesque IBC (2008), New York IBC (2009), and Sibiu IBC (2009) where he was a semifinalist.
  </p>
  Graduating from the Bolshoi Institute, Routianidis received his Diploma in the specialty Pedagogue-Ballet Master. As such, he returned to Greece and performed with the Thessaloniki Concert Hall in the inaugural performance of Dionyssis Savvopoulos in 2011.
  He also performed the leading role of Prince Siegfried in the “Swan Lake” production of the Giannitsa Ballet School as guest artist in 2011. Subsequently, he performed as guest artist invited by the Dmanagement in the Chicago International Dancing Festival by the current artistic director of Montgomery ballet Darren Christian McIntyre , where he performed the role of Hilario in “Giselle” and the pas de deux of “Flames of Paris” as Philippe.
  <p>
    <strong>
      Routianidis taught as guest teacher in the Royal Swedish Ballet School in the summer of 2011. Upon his return to Greece he participated in the “Samson and Delilah” opera production of the Thessaloniki Concert Hall in the autumn of 2011. Subsequently, he took a 6-week tour in Germany as a guest soloist with the Ballet Classique de Paris of Jeannette Jacquet, where he danced in ballets like “Swan Lake” and “Nutcracker”.
      In the summer of 2012 he taught dance at the Irish Academy of Rhythmic Gymnastics – IARG, Dublin.
    </strong> This post lead to the offer by the famous Irish celebrity and former Prima Ballerina of perm state ballet of Russia and Artistic Director of the Irish ballet Monica Loughman to dance, teach and rehearse with her company as principal dancer and balletmaster and main teacher at the school of Russian ballet , his presence and hard work in Ireland as a qualified pedagogue ballet master,gave great help to the artistic director and CEO of the Company to open the way and convince the minister of culture jimmy deenihan to announce the opening of the first full time Irish Academy in the country and receive the support and funding of the art’s council both for the company and the newly founded academy.
    This project opened his eye’s and gave him the confidence in pursuing his dream of creating a ballet company in his own country in the city he grow up to perform future production’s of ancient Greek mythology and create new ballet’s as well share his knowledge and experience’s with greek and european student’s and dancer’s from a more prominent position.
    In March 2013 he returned to Greece and founded the first professional classical company in Thessaloniki and Northern Greece, and in march 16th 2014 the company performed its first production International Balled Gala to boost and evolution ballet and the classical dance in Greece.
  </p>
</div>